html{
	overflow:hidden!important;/* This isn't ideal, but material dialogs were causing a pointless y-scroll to appear */ 
}
body {
  color:#FC4C02 ;
  background-color: #3a3b3d;
  max-height: 100vh;
}
@-webkit-keyframes fontfix {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.ttf) format("truetype");
}
.top{
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	font-weight:600;
	color: white;
	border: none !important;
	border-bottom: solid 1px #d6d6d6;
	border-radius: 0px ;
}
.top p{
	text-align: center;
	color:#FC4C02 ;
	font-family: 'Roboto', sans-serif;
	font-size:3.5em ;
	font-weight:100;
	margin-bottom: 0px;
	margin-top:0px;
}

@media screen and (max-width: 600px) {
  .top p{
  	text-align: center;
	color:#FC4C02;
	font-family: 'Roboto', sans-serif;
    font-size:1em;
    font-weight:100;
	margin-bottom: 0px;
	margin-top:30px;
  }
}
.tree-tools{
	padding:2px;
}
.tree-tools img{
	height:45px;
	cursor:pointer;
}
@media screen and (max-width: 600px) {
	.tree-tools img{
		height:25px;
	}
}
md-toolbar{
	background:none;
}
md-toolbar .dialog_toolbar{
	color:black;
	background: #6a6c70;
}
md-select{
	background:white;
}
.main_content{
	background:none;
	font-family: "Arial";
}
.mouse_catcher{
	stroke: none;
	fill:none;
}
.chart{
	position:absolute;
	left:0px;
	top:100px;
	border: transparent;
	overflow:hidden;
}
.chart div {
	position:absolute;
	font: 10px sans-serif;
	text-align: center;
	border-radius:150px;
	border: 1px solid black;
}
.question{
	visibility:hidden;
}
.answer{
	visibility: hidden;
}
.control{
	width:600px;
	height:36px;
}
.warning{
	width:300px;
	height:auto;
	padding:10px;
	border:1px solid black;
	margin-left: auto ;
	margin-right: auto ;
	text-align:center;
}
.button{
	border:.5px solid black;
	display:table;
	float:left;
	margin-right:0px;
	cursor:pointer;
	left:10px;
	width:100px;
	height:36px;
	font: 16px sans-serif;
	text-align:center;
	background:#EBEBFF;
	box-shadow: 0 0 4px black;
}
.button_text{
	display: table-cell; 
	vertical-align: middle;
}
.dialog_edit_node{
	font-family: 'Arial', sans-serif;
	font-size:1.2em;
	font-weight:400;
}
.dialog_edit_node input {
	font-family: 'Arial', sans-serif;
}
.dialog_edit_node textarea{
	font-family: 'Arial', sans-serif;
}
.dialog_edit_node_toolbar{
	font-family: 'Arial', sans-serif;
	color: black;
	font-size:1.4em;
	font-weight:900;
}
.node_dialog_image{
	min-height: 100px;
	max-height: 105px;
}
.node_dialog_text{
	padding:5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600 ;
}
.label{
	text-align: center;
	font-family: 'Roboto', sans-serif ;
	font-size:3em ;
	font-weight:100 ;
	color: white;
	width:10%;
	height:auto;	
	position: absolute;
	display: block;	
	border: none;
	border-bottom: solid 1px #d6d6d6;
	border-radius: 0px;
 }
 .q_a{
 	background-color: #3a3b3d;
 	text-align:center;
 	width:auto;
 	border:0.5px dashed grey;
 	color:white;
 }
.z_q_a{
 	font-size:.5em;
 	text-align:center;
 	width:auto;
 	margin-bottom:5px;
 	color:black;
}
.answer_button{
	text-align:center;
	color:white;
	align-items: center;
	justify-content: center;
}
.answer_button span{
	background-color: #3a3b3d;
	border:.1px solid #FC4C02 ;
	padding:3px;
}
.answer_button img{
	height:6px;
}
.zoomed{
	font-size:.5em;
}
#tree{
	overflow:hidden;
}
.node {
	cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: #FC4C02 ;
  stroke-width: 2px;
}
.node .main {
  fill: #fff;
  stroke: #FC4C02 ;
  stroke-width: 2px;
}
.node text {
  font: 12px sans-serif;
}
.link {
  fill: none;
  stroke: #FC4C02 ;
  stroke-width: 2px;
}
.force_link{
  stroke: #ffffff;
  stroke-width: 0.5px;
}

.help{
	font-weight:900;
}
.force_node circle{
	fill:white;
	stroke:#FC4C02 ;
	stroke-width:0.5px;
}
.curvedText {
	font-family: 'Roboto', sans-serif;
	font-weight:200 ;
	font-size: 8px;
	color:white;
	text-anchor: middle;
	fill:white;
	stroke:none;
}
.curvedTextSatelite {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 5px;
	color:white;
	text-anchor: middle;
	fill:white;
	stroke:none;
}
.tiny_img{
	max-width:15px;
	max-height:15px;
}
.satelite_text{
	font-size: 4px;
}
